@{
    ViewData["Title"] = "Главная";
}


<section id="scrollsection">
    <div class="scroll text-scroll">
        <div>
            •Art Royal Detailing•Менделеева 134•Art Royal Detailing•Менделеева 134•Art Royal Detailing•Менделеева 134
        </div>
        <div>
            •Art Royal Detailing•Менделеева 134•Art Royal Detailing•Менделеева 134•Art Royal Detailing•Менделеева 134
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<div class="row mb-3 p-2">
    <div class="col info m-2">
        <h3 class="info-headers" style="font-weight:bold;">ПРОФЕССИОНАЛЬНЫЙ ДЕТЕЙЛИНГ ЦЕНТР В УФЕ</h3>
        <p>Мы предлагаем широкий спектр услуг по уходу за вашим автомобилем, включая полировку, химчистку, мойку и многое другое.</p>


        <h2 class="info-headers">Почему выбирают нас?</h2>
        <ul>
            <li>Опытные и профессиональные мастера</li>
            <li>Использование только качественных материалов и оборудования</li>
            <li>Индивидуальный подход к каждому клиенту</li>
            <li>Быстрое и качественное выполнение работ</li>
            <li>Доступные цены</li>
        </ul>

        <h2 class="info-headers">Контакты</h2>
        <p>Если у вас есть какие-либо вопросы или желание записаться на услуги, свяжитесь с нами:</p>
        <ul>
            <li>Телефон: +7 (963) 900-70-05</li>
            <li><a class="info-headers" href="https://vk.com/art_royal_detailing">Мы вконтакте: vk.com/art_royal_detailing</a></li>
        </ul>
    </div>
    <div class="col m-2 info">
        <div style="font-weight: bold; font-size:25px;display:flex;justify-content:center;align-items:center;">
            <ion-icon name="newspaper-outline" class="info-headers"></ion-icon>
            <span class="info-headers">NEWS | НОВОСТИ</span>
        </div>
        <div class="news-content" style="margin:20px">
            <h4 style="text-align:justify">Добро пожаловать! Проект разработан студентом Уфимского колледжа статистики информатики и вычислительной техники группы 19П-2 Быковым Кириллом</h4>
           <br/>
            <h5 style="text-align:justify">
                1.Наша студия теперь использует экологически чистые средства для мойки автомобилей! Мы заботимся о нашей планете и делаем все возможное, чтобы уменьшить наш экологический след.
                <br />
                <br />
                2.Хотите придать своему автомобилю изумительный блеск? Теперь в нашей студии доступна услуга полировки кузова автомобиля. Обратитесь к нам и мы поможем вашему автомобилю выглядеть как новый!
                <br />
                <br />
                3.Приходите к нам в студию в этом месяце и получайте 20% скидку на любую услугу детейлинга! Это прекрасная возможность сделать ваш автомобиль блестящим без больших затрат.
                <br />
                <br />
                4.Мы рады сообщить, что наши специалисты обучались новым техникам и получили новые сертификаты, что позволяет нам предоставлять нашим клиентам еще более качественные услуги.
                <br />
                <br />
                5.Есть ли у вас вопросы о детейлинге или хотели бы вы узнать больше о том, как мы работаем? Звоните нам или заходите на наш сайт, чтобы получить бесплатную консультацию от наших экспертов!
            </h5>
            <br />
        </div>
    </div>
</div>
<div class="map-container">
    <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3Ace31e07b494e5408dfb6ab6562051a588c25738bfc1e797d249acf77d25a40bb" id="map" frameborder="0" allowfullscreen="false" width="100%" height="350px"></iframe>
</div>


