@using ArtRoyalDetailing.Domain.Enum
@{
    ViewBag.Title = "Личный кабинет";
}
<br>
<section id="scrollsection" onclick="changeColor()">
    <div class="scroll text-scroll">
        <div>
            Личный кабинет
        </div>
    </div>
</section>
<br />
<br />
<br />
<div class="row justify-content-center">
    <div class="col ml-2">
        <div class="menushka">
            <span id="menuheader">
                <ion-icon name="grid-outline"></ion-icon>
                МЕНЮ
                <ion-icon name="grid-outline"></ion-icon>
            </span>
            <div>
                <label class="menuItem" style="padding:3px;width: 100%;">
                    <input type="radio" name="group" id="myProfile" onchange="openMyProfilePage()" />
                    <div class="menuItemText">Мой профиль</div>
                </label>
                @if (User.IsInRole($"{(int)Role.Admin}"))
                {
                    <label class="menuItem" style="padding:3px;width: 100%;">
                        <input type="radio" name="group" id="workers" onchange="openWorkersPage()" />
                        <div class="menuItemText">Сотрудники</div>
                    </label>
                }
                <label class="menuItem" style="padding:3px;width: 100%;">
                    <input type="radio" name="group" onchange="openHistoryPage()" />
                    <div class="menuItemText">История обслуживания</div>
                </label>
                @if (User.IsInRole($"{(int)Role.Admin}"))
                {
                    <label class="menuItem" style="padding:3px;width: 100%;">
                        <input type="radio" id="salary" name="group" onchange="openSalaryPage()" />
                        <div class="menuItemText">Зарплата</div>
                    </label>
                    <label class="menuItem" style="padding:3px;width: 100%;">
                        <input type="radio" name="group" id="addService" onchange="openAddServicePage()" />
                        <div class="menuItemText">Добавить услугу</div>
                    </label>
                }
            </div>
        </div>
        @if (User.IsInRole($"{(int)Role.Washer}"))
        {
            <div class="menushka">
                <table class="table table-borderless mb-0">
                    <tbody>
                        <tr>
                            <td style="text-align:left;font-weight:bold">Последний расчёт:</td>
                            <td>@ViewBag.lastSalaryDate</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;font-weight:bold">Последняя выплата (руб.):</td>
                            <td>@ViewBag.lastSalary</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;font-weight:bold">Текущий баланс (руб.):</td>
                            <td>@ViewBag.currentSalary</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        </div>
        <div class="col colForPages col-md-auto">
            @*<div class="poisk">
                <ion-icon name="search-outline"></ion-icon>
                <input type="text" placeholder="Поиск" />
                <select>
                    <option selected disabled>Сортировка</option>
                    <option>Сортировка</option>
                </select>
            </div>*@

        </div>
    </div>
@section Scripts{ 
<script type="text/javascript">
    openSalaryPage = () => {
        $('.colForPages').html("");
        $.ajaxSetup({ cache: false });
        $.get("/LK/GetSalaryPage", function (data) {
            $('.colForPages').html(data);
        });
    }
    openWorkersPage = () => {

        $('.colForPages').html("");
        $.ajaxSetup({ cache: false });
        $.get("/LK/GetWorkersPage", function (data) {
            $('.colForPages').html(data);
        });
    }
    openMyProfilePage = () => {

        $('.colForPages').html("");
        $.ajaxSetup({ cache: false });
        $.get("/LK/GetProfilePage", function (data) {
            $('.colForPages').html(data);
        });
    }
    openAddServicePage = () => {

        $('.colForPages').html("");
        $.ajaxSetup({ cache: false });
        $.get("/LK/GetAddServicePage", function (data) {
            $('.colForPages').html(data);
        });
    }
    openHistoryPage = () => {
        $('.colForPages').html("");
        $.ajaxSetup({ cache: false });
        $.get(
                "@(User.IsInRole($"{(int)Role.Washer}")?"/LK/GetWasherHistory": User.IsInRole($"{(int)Role.Admin}")?"/LK/GetAllHistory": User.IsInRole($"{(int)Role.Client}") ? "/LK/GetClientHistory":"")"
            , function (data) {
            $('.colForPages').html(data);
         });
            }
    document.querySelector('#myProfile').checked = true
    openMyProfilePage()
</script>
}


