<div class="auth-modal">
    <div class="backDepth" onclick="closeModal()"></div>
    <div class="modall">
        <h3>Регистрация</h3>
        <input type="text" placeholder="Фамилия" id="username" name="Surname">
        <input type="text" placeholder="Имя" id="username" name="Name">
        <input type="text" placeholder="Логин" id="username" name="Login">
        <input type="text" placeholder="Номер телефона" id="username" onfocus="maskValid(this)" name="PhoneNumber">
        <input type="text" placeholder="Электронная почта" id="username" name="Email">
        <input type="text" placeholder="Код подтвержения" id="username" style="display:none" name="EmailCode">
        <div class="passwordBox">
            <input type="password" placeholder="Пароль" id="password">
            <ion-icon name="eye-outline" id="eye" onclick="showPass()"></ion-icon>
        </div>
        <button type="submit" onclick="register(this)">Зарегистрироваться</button>
    </div>
    <script>
        var onCheckMail = false
        let code = ""
        closeModal = () => {
            if (!onCheckMail)
                document.querySelector('.backDepth').parentNode.parentNode.innerHTML = ''
        }
        let passss = true
        showPass = () => {
            if (passss) {
                document.querySelector('#password').setAttribute('type', 'text')
                passss = !passss
            }
            else {
                document.querySelector('#password').setAttribute('type', 'password')
                passss = !passss
            }

        }
        maskValid = (input) => {
            var keyCode;
            function mask(event) {
                event.keyCode && (keyCode = event.keyCode);
                var pos = this.selectionStart;
                if (pos < 3) event.preventDefault();
                var matrix = "+7 (___) ___-____",
                    i = 0,
                    def = matrix.replace(/\D/g, ""),
                    val = this.value.replace(/\D/g, ""),
                    new_value = matrix.replace(/[_\d]/g, function (a) {
                        return i < val.length ? val.charAt(i++) || def.charAt(i) : a
                    });
                i = new_value.indexOf("_");
                if (i != -1) {
                    i < 5 && (i = 3);
                    new_value = new_value.slice(0, i)
                }
                var reg = matrix.substr(0, this.value.length).replace(/_+/g,
                    function (a) {
                        return "\\d{1," + a.length + "}"
                    }).replace(/[+()]/g, "\\$&");
                reg = new RegExp("^" + reg + "$");
                if (!reg.test(this.value) || this.value.length < 5 || keyCode > 47 && keyCode < 58) this.value = new_value;
                if (event.type == "blur" && this.value.length < 5) this.value = ""
            }

            input.addEventListener("input", mask, false);
            input.addEventListener("focus", mask, false);
            input.addEventListener("blur", mask, false);
            input.addEventListener("keydown", mask, false)

        }
        register = (button) => {
            let surnameVal = document.getElementsByName("Surname")[0].value
            let firstnameVal = document.getElementsByName("Name")[0].value
            let loginVal = document.getElementsByName("Login")[0].value
            let phoneVal = document.getElementsByName("PhoneNumber")[0].value
            let emailVal = document.getElementsByName("Email")[0].value
            let passwordVal = document.getElementById("password").value
            if (surnameVal == "" || firstnameVal == "" || loginVal == "" || phoneVal == "" || emailVal == "" || passwordVal == "") {
                createAlert("Ошибка", "Не все поля заполнены", "error")
                return
            }
            if (!onCheckMail) {
                var model = {
                    login: loginVal,
                    phone: phoneVal,
                    email: emailVal,
                    name: firstnameVal
                }
                $.ajax({
                    url: '/Account/RegisterConfirm',
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    data: model,
                    async: true,
                    processData: true,
                    cache: false,
                    success: function (data) {
                        if (data.data == false) {
                            createAlert("Ошибка", data.description, "error")
                            return
                        }
                        if (data.data == true) {
                            createAlert("Подтверждение", "На вашу почту пришёл код, введите его для подтверждения регистрации", "success")
                            code = data.description
                            onCheckMail = true
                            button.innerHTML = "Отправить"
                            document.getElementsByName("EmailCode")[0].style.display = "block"
                            return
                        }
                    },
                    error: function (xhr) {
                        createAlert('Ошибка', "Ошибка сервера", 'error')
                    }
                });

            }
            else {
                if (document.getElementsByName("EmailCode")[0].value == code) {
                    var model = {
                        Login: loginVal,
                        PhoneNumber: phoneVal,
                        Email: emailVal,
                        Name: firstnameVal,
                        Surname: surnameVal,
                        Password: passwordVal
                    }
                    $.ajax({
                        url: '/Account/Register',
                        type: "POST",
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        data: model,
                        async: true,
                        processData: true,
                        cache: false,
                        success: function (data) {
                            if (data.data == true) {
                                closeModal()
                                window.location.reload()
                                return
                            }
                            if (data.data==false) {
                                createAlert("Ошибка", data.description, "error")
                                return
                            }
                        },
                        error: function (xhr) {
                            createAlert('Ошибка', "Ошибка сервера", 'error')
                        }
                    });
                }
                else {
                    createAlert("Ошибка","Код подтверждения неверный","error")
                }
            }
        }
    </script>
</div>
