@model ArtRoyalDetailing.Domain.ViewModels.RegisterViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}
<div class="auth-modal">
    <div class="backDepth" onclick="closeModal()"></div>
    <form autocomplete="on" method="post" asp-controller="Account" asp-action="Register">
        <h3>Регистрация</h3>
        <div asp-validation-summary="All" style="font-size:15px;" class="text-danger"></div>
        <input type="text" placeholder="Фамилия" id="username" name="Surname" asp-for="Surname">
        <input type="text" placeholder="Имя" id="username" name="Name" asp-for="Name">
        <input type="text" placeholder="Логин" id="username" name="Login" asp-for="Login">
        <input type="text" placeholder="Номер телефона" id="username" class="tel" asp-for="PhoneNumber" name="PhoneNumber">
        <input type="text" placeholder="Электронная почта" id="username" asp-for="Email" name="Email">
        <div class="passwordBox">
            <input type="password" placeholder="Пароль" asp-for="Password" id="password">
            <ion-icon name="eye-outline" id="eye" onclick="showPass()"></ion-icon>
        </div>
        <button type="submit">Регистрация</button>
    </form>
</div>

@section Scripts
{
    <script>
        closeModal = () => {
            document.querySelector('.backDepth').parentElement.innerHTML = ''
        }
        let passs = true
        showPass = () => {
            if (passs) {
                document.querySelector('#password').setAttribute('type', 'text')
                passs = !passs
            }
            else {
                document.querySelector('#password').setAttribute('type', 'password')
                passs = !passs
            }

        }
        
    </script>
}