/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.custom-btn {
    transition: .5s ease-in-out;
    color: #fdd900;
    outline: 0px solid #fdd900;
    outline-offset: 0px;
}
.custom-btn:hover {
    outline: 5px solid #fdd900;
    outline-offset: 10px;
}
/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #3A3C41;
    border-radius: 10px;
    border: 3px solid orange;
}
.wrapper{
    position:absolute;
    align-self:center;
    width:400px;
    height:450px;
    background:rgba(255,255,255,.15);
    box-shadow: 0 8px 32px rgba(31,38,135,.37);
    border: 1px solid rgba(255,255,255,.18);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.h2Modal{
    font-size:2em;
    color:white;
    text-align:center;
}
.input-box{
    width:320px;
    margin:30px 0;
    border-bottom:2px solid white;
}
.input-box label{
    position:absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    font-size:1em;
    pointer-events:none;
    color:white;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:5px;
}
.input-box input{
    width:100%;
    height:50px;
    background:transparent;
    border:none;
    outline:none;
    font-size:1em;
    color:white;
    padding:0 35px 0 5px;
}
.input-box .icon{
    position:absolute;
    right:8px;
    color:white;
    font-size:1.2em;
    line-height: 57px;
}
.remember-forgot{
    margin:-15px 0 15px;
    font-size: .9em;
    color:white;
    display:flex;
    justify-content:space-between;
}
.remember-forgot a{
    color:white;
    text-decoration:underline;
}
.remember-forgot a:hover{
    text-decoration:underline;
}
.remember-forgot label input{
    color:#fa709a;
    margin-right:3px;
}
.wrapper button {
    width: 100%;
    height: 45px;
    background: #fa709a;
    border:none;
    outline:none;
    border-radius:40px;
    cursor:pointer;
    font-size:1em;
    color:white;
    font-weight:bold;
}